2	5-shortRest	[0 0 612 74]	1	"Dietary Guidelines for Americans, 2025–2" 10
6	5-shortRest	[0 0 612 74]	1	"Dietary Guidelines for Americans, 2025–2" 10
7	5-shortRest	[0 0 612 74]	1	"Dietary Guidelines for Americans, 2025–2" 10
8	5-shortRest	[0 0 612 74]	1	"Dietary Guidelines for Americans, 2025–2" 10
9	5-shortRest	[0 0 612 74]	1	"Dietary Guidelines for Americans, 2025–2" 10
10	1-labels	[0 0 612 74]	2	"Dietary Guidelines for Americans, 2025–2" 10 | "January 2026" 10
