4	2-noBackdrop	[0 0 792 280]	12	"Fifth National Climate Assessment iii" 10 | "This report is in the public domain. Som" 10 | "report. For subsequent uses that include" 10 | "holder. In all cases, credit must be giv" 10
6	1-labels	[0 0 792 257]	36	"Fifth National Climate Assessment v" 10 | "Program" 10 | "William Hohenstein, US Department of Agr" 10 | "Ben DeAngelo, US Department of Commerce" 10
7	1-labels	[0 0 792 257]	21	"Fifth National Climate Assessment vi" 10 | "Barbara Ambrose, Visual Communications S" 10 | "University, Northern Gulf Institute" 10 | "Rocky Bilotta, Physical Scientist, NOAA " 10
8	1-labels	[141 140 792 612]	40	"Table of Contents" 24 | "About This Report  xx" 12 | "Guide to the Report " 12 | "xxi" 12
9	1-labels	[141 408 792 612]	16	"Chapter 4. Water  4-1" 12 | "Introduction  4-4" 10 | "Key Message 4.1. Climate Change Will Con" 10 | "4-6" 10
10	1-labels	[141 408 792 612]	17	"Chapter 8. Ecosystems, Ecosystem Service" 12 | "8-1" 12 | "Introduction  8-5" 10 | "Key Message 8.1. Change Is Driving Rapid" 10
11	1-labels	[141 403 792 612]	14	"Chapter 12. Built Environment, Urban Sys" 12 | "12-1" 12 | "Introduction  12-5" 10 | "Key Message 12.1. Urban Areas Are Major " 10
12	1-labels	[141 402 792 612]	15	"Chapter 15. Human Health " 12 | "15-1" 12 | "Introduction  15-6" 10 | "Key Message 15.1. Climate Change Is Harm" 10
13	1-labels	[141 408 792 612]	14	"Chapter 18. Sector Interactions, Multipl" 12 | "18-1" 12 | "Introduction  18-5" 10 | "Key Message 18.1. Human–Nature Interconn" 10
14	1-labels	[141 408 792 612]	14	"Chapter 21. Northeast  21-1" 12 | "Introduction  21-4" 10 | "Key Message 21.1. Chronic Impacts of Ext" 10 | "Mitigation Efforts  21-5" 10
15	1-labels	[141 407 792 612]	14	"Chapter 24. Midwest  24-1" 12 | "Introduction  24-5" 10 | "Key Message 24.1. Climate-Smart Practice" 10 | "Key Message 24.2. Adaptation May Ease Di" 10
16	1-labels	[145 408 792 612]	16	"Chapter 27. Northwest  27-1" 12 | "Introduction  27-5" 10 | "Key Message 27.1. Frontline Communities " 10 | "Equity Advances Regional Resilience " 10
17	1-labels	[141 408 792 612]	18	"Chapter 29. Alaska  29-1" 12 | "Introduction  29-5" 10 | "Key Message 29.1. Our Health and Healthc" 10 | "29-10" 10
18	1-labels	[145 408 792 612]	14	"Chapter 31. Adaptation  31-1" 12 | "Introduction  31-5" 10 | "Key Message 31.1. Adaptation Is Occurrin" 10 | "of Climate Change  31-7" 10
19	1-labels	[141 408 792 612]	14	"Focus on COVID-19 and Climate Change " 12 | "F3-1" 12 | "Focus on COVID-19 and Climate Change " 10 | "F3-3" 10
20	1-labels	[0 0 792 257]	2	"Fifth National Climate Assessment xix" 10 | "Margaret Plumley" 9
20	1-labels	[141 408 792 612]	18	"Appendix 4 Indicators  A4-1" 12 | "A4.1. The Importance of Indicators " 10 | "A4-5" 10 | "A4.2. Atmospheric Indicators  A4-12" 10
21	1-labels	[0 0 792 280]	5	"Fifth National Climate Assessment xx" 10 | "NCA5 was thoroughly reviewed by Federal " 10 | "development process. An expert external " 10 | "Engineering, and Medicine.3 Additional i" 10
22	1-labels	[0 0 792 282]	24	"Fifth National Climate Assessment xxi" 10 | "The Overview chapter presents the major " 10 | "report alongside highlights drawn from a" 10 | "chapter provides a synthesis of material" 10
24	2-noBackdrop	[0 0 792 270]	8	"Fifth National Climate Assessment xxiii" 10 | "The first three appendices outline the d" 10 | "legal standards of scientific quality fo" 10 | "information, and the climate scenarios a" 10
27	1-labels	[0 0 792 257]	28	"Fifth National Climate Assessment xxvi" 10 | "economic growth than RCP8.5." 9 | "High Scenario" 9 | "RCP6.0" 9
28	1-labels	[0 0 792 257]	64	"Fifth National Climate Assessment xxvii" 10 | "sea level conditions. Table 4 displays t" 10 | "naming convention used by NCA5 authors" 10 | "to describe the range of possible rise i" 10
29	1-labels	[0 0 792 257]	25	"Fifth National Climate Assessment xxviii" 10 | "change in some types of extreme events i" 10 | "example, climate change was estimated to" 10 | "rainfall of Hurricane Harvey in 2017 by " 10
30	1-labels	[0 0 792 257]	7	"Fifth National Climate Assessment xxix" 10 | "Reporting Suspected Errata" 14 | "In case of a suspected error in this rep" 10 | "Your full name" 10
31	2-noBackdrop	[0 0 792 257]	13	"Fifth National Climate Assessment xxx" 10 | "von Schuckmann, S. Zaehle, X. Zhang, and" 9 | "Working Group I to the Sixth Assessment " 9 | "C. Péan, S. Berger, N. Caud, Y. Chen, L." 9
32	2-noBackdrop	[0 0 792 257]	1	"Fifth National Climate Assessment xxxi" 10
35	2-noBackdrop	[350 142 792 612]	24	"Table of Contents" 24 | "How the United States Is Addressing Clim" 12 | "Future climate change impacts depend on " 10 | "Box 1.1. Mitigation, Adaptation, and Res" 10
36	2-noBackdrop	[350 408 792 612]	11	"The Choices That Will Determine the Futu" 12 | "Societal choices drive greenhouse gas em" 10 | "Box 1.4. Global Warming Levels ........." 10 | "Rising global emissions are driving glob" 10
36	1-labels	[0 0 792 341]	3	"Overview | 1-4" 10 | "Fifth National Climate Assessment" 10 | "Margaret Plumley" 9
37	1-labels	[0 0 792 257]	14	"Overview | 1-5" 10 | "Fifth National Climate Assessment" 10 | "expected to lead to more damage and grea" 10 | "compared to previous increments of warmi" 10
38	2-noBackdrop	[72 180 792 612]	1	"Climate Change Risks and Opportunities i" 11
39	1-labels	[0 0 792 257]	4	"Overview | 1-7" 10 | "Fifth National Climate Assessment" 10 | "Figure credits: (top left, top center, t" 10 | "of Figure SPM.1 in IPCC 2023." 10
42	1-labels	[66 311 792 612]	17	"Accelerating advances in adaptation can " 14 | "reduce rising climate risks" 14 | "As more people face more severe climate " 10 | "organizations, companies, communities, a" 10
46	2-noBackdrop	[128 164 792 612]	1	"Future Global Carbon Dioxide Emissions P" 11
48	1-labels	[0 0 792 406]	34	"Overview | 1-16" 10 | "Fifth National Climate Assessment" 10 | "Current climate changes are unprecedente" 14 | "over thousands of years" 14
50	2-noBackdrop	[72 308 792 612]	19	"Damages by State from Billion-Dollar Dis" 10 | "Cascading and compounding impacts" 14 | "increase risks" 14 | "The impacts and risks of climate change " 10
51	1-labels	[0 95 380 612]	32	"was made 2° to 4°F hotter by climate cha" 10 | "to more than 1,400 heat-related deaths, " 10 | "season, mass die-offs of fishery species" 10 | "economy and Indigenous communities, and " 10
51	2-noBackdrop	[402 266 749 552]	1	"Household Income for Three Cities" 11
54	1-labels	[0 0 792 257]	2	"Overview | 1-22" 10 | "Fifth National Climate Assessment" 10
55	1-labels	[0 0 792 257]	22	"Overview | 1-23" 10 | "Fifth National Climate Assessment" 10 | "Figure A4.8}" 10 | "Between 1980 and 2022, drought and relat" 10
56	1-labels	[36 295 792 612]	20	"Climate change also disproportionately h" 10 | "health of communities that depend on agr" 10 | "subsistence lifestyles, including Indige" 10 | "traditional food sources. Heat-related s" 10
58	1-labels	[72 238 792 612]	18	"US Flooding Risks in 2020 and 2050" 11 | "Increasing flooding puts more people and" 10 | "assets at risk." 10 | "Figure 1.10. (top row) Maps show (a) the" 10
59	1-labels	[0 0 792 294]	31	"Overview | 1-27" 10 | "Fifth National Climate Assessment" 10 | "Infrastructure and services are increasi" 14 | "damaged and disrupted by extreme weather" 14
60	1-labels	[66 408 792 612]	23	"hurricanes will strain wastewater and st" 10 | "systems. In the Midwest and other region" 10 | "are expected to be strained by disruptio" 10 | "efficiency losses from climate change. {" 10
61	1-labels	[0 0 792 280]	19	"Overview | 1-29" 10 | "Fifth National Climate Assessment" 10 | "Large reductions in greenhouse gas emiss" 10 | "expected to result in widespread health " 10
63	1-labels	[350 408 792 612]	19	"Together with other stressors, climate c" 10 | "health and resilience of ecosystems, lea" 10 | "biodiversity and ecosystem services. Inc" 10 | "regions or disappear from unfavorable ar" 10
64	1-labels	[350 403 792 612]	17	"Climate change slows economic growth, wh" 14 | "warming is projected to cause more than " 10 | "warming pose significant risks to the US" 10 | "scales and can compound to dampen econom" 10
65	1-labels	[0 0 792 306]	21	"Overview | 1-33" 10 | "Fifth National Climate Assessment" 10 | "(top left; Fort Myers Beach, Florida) Sh" 10 | "damaged or completed destroyed by Hurric" 10
67	1-labels	[35 205 792 612]	24	"Climate change is disrupting" 14 | "cultures, heritages, and traditions" 14 | "As climate change transforms US landscap" 10 | "ecosystems, many deeply rooted community" 10
69	2-noBackdrop	[70 236 792 612]	17	"The Choices That Will Determine the Futu" 24 | "With each additional increment of warmin" 15 | "faster and further the world cuts greenh" 15 | "avoided, increasing the chances of limit" 15
71	1-labels	[54 130 727 578]	30	"Potential Warming Pathways in the" 11 | "United States" 11 | "When or if the US reaches a particular" 10 | "level of warming depends on global" 10
72	1-labels	[0 0 792 266]	23	"Overview | 1-40" 10 | "Fifth National Climate Assessment" 10 | "Rising temperatures lead to many large-s" 10 | "Earth’s climate system, and the conseque" 10
74	2-noBackdrop	[70 379 792 612]	8	"How Climate Action" 24 | "Can Create a More Resilient and Just Nat" 24 | "Large near-term cuts in greenhouse gas e" 15 | "available and cost-effective mitigation " 15
75	1-labels	[0 0 792 257]	10	"Overview | 1-43" 10 | "Fifth National Climate Assessment" 10 | "dioxide (CO2) and other greenhouse gases" 10 | "atmosphere (bottom side of figure; blue)" 10
75	2-noBackdrop	[121 303 792 612]	1	"Portfolio of Mitigation Options for Achi" 11
78	1-labels	[66 403 792 612]	25	"Mitigation and adaptation actions can re" 14 | "systemic, cascading benefits" 14 | "Actions taken now to accelerate net emis" 10 | "adapt to ongoing changes can reduce risk" 10
79	1-labels	[0 0 792 257]	24	"Overview | 1-47" 10 | "Fifth National Climate Assessment" 10 | "•" 10 | "Recognizing that certain people have bor" 10
223	5-shortRest	[52 281 560 652]	1	"Washington–California Snow Drought" 12
347	1-labels	[54 145 508 734]	1	"Tree Cover Dynamics" 12
351	2-noBackdrop	[54 446 522 723]	1	"Conditions conducive to very large fires" 10
354	5-shortRest	[52 226 560 430]	1	"Spruce and Pine Beetle Outbreaks" 12
358	1-labels	[52 304 560 740]	1	"Forest Carbon Sink" 12
411	1-labels	[52 173 560 448]	26	"Physical and" 9 | "Psychological Experiences" 9 | "Cold-weather recreational opportu-" 9 | "nities are projected to decline (e.g.," 9
533	1-labels	[54 169 558 498]	1	"Soil as a Foundation" 12
701	5-shortRest	[52 245 560 590]	1	"Children’s Mental Health" 12
863	1-labels	[52 77 560 257]	11	"c) Sample Impacts That Are Difficult to " 9 | "Sector" 9 | "Impact type" 9 | "Climate hazard" 9
947	2-noBackdrop	[54 205 515 729]	1	"Projected Changes in Coastal Forests" 12
1019	1-labels	[52 158 560 421]	3	"to our Tribal members, and other Tribes " 9 | "Indians406" 9 | "Rivercane in North America" 12
1189	5-shortRest	[52 246 560 568]	1	"Pattern Field Tiling" 12
1190	1-labels	[52 417 560 676]	2	"improve flood readiness." 9 | "Adaptation Through Soil Health" 12
1190	5-shortRest	[52 145 560 344]	2	"reduced runoff. Photo credit: USDA" 10 | "Bringing Back the Buffalo" 12
1433	5-shortRest	[52 163 560 556]	1	"Gladys I’yiiqpak Pungowiyi" 12
1448	5-shortRest	[52 246 560 580]	1	"Chinook Salmon Research" 12
1452	1-labels	[52 283 560 586]	2	"ship with others." 9 | "Canned Red Salmon in Port Heiden" 12
1498	1-labels	[8 601 604 705]	12	"Jurisdiction" 9 | "KM 30.1: Water" 9 | "and Food" 9 | "KM 30.2:" 9
1499	1-labels	[7 335 603 740]	113	"Jurisdiction" 9 | "KM 30.1: Water" 9 | "and Food" 9 | "KM 30.2:" 9
1503	5-shortRest	[52 302 560 628]	2	"under future climate change.194,195" 9 | "Traditional Cast Net Fishing" 12
1767	5-shortRest	[52 159 560 640]	1	"USGCRP Indicators Platform" 12
1778	2-noBackdrop	[54 299 422 610]	1	"Change in Drought Conditions, 1900–2022" 12
