103	1-labels	[88 110 525 494]	31	"Figure 6.9. Design of Federal Reserve no" 10 | "The Federal Reserve Board, the Treasury’" 8 | "redesign U.S. currency to stay ahead of " 8 | "Security thread. 3-D security ribbon. Wa" 8
126	2-noBackdrop	[89 348 524 598]	1	"with the Federal Reserve." 9
132	2-noBackdrop	[88 243 524 469]	1	"other tools to achieve this goal." 9
